.add-product {
  height: 100%;
  width: 100%;
  padding: 2rem 2rem;
  form {
    margin-top: 1rem;
    border: 2px solid #5858ff;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    table {
      tr {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        td {
          height: 100%;
          width: 100%;
          padding: 1rem;
          input {
            height: 50%;
            width: 100%;
            padding: 1rem;
            border: 2px solid #5858ff;
            outline: none;
            border-radius: 0.5rem;
            font-size: 0.95rem;
          }
          textarea {
            height: 50%;
            width: 100%;
            padding: 1rem;
            border: 2px solid #5858ff;
            outline: none;
            border-radius: 0.5rem;
            font-size: 0.95rem;
          }
          select {
            height: 50%;
            width: 100%;
            border: 2px solid #5858ff;
            outline: none;
            border-radius: 0.5rem;
            font-size: 0.95rem;
            cursor: pointer;
            padding: 1rem;
          }
          button {
            padding: 0.5rem 1.5rem;
            background-color: #5858ff;
            outline: none;
            border: 1px solid #5858ff;
            color: white;
            font-size: 0.95rem;
            border-radius: 1rem;
            filter: drop-shadow(1px 1px 2px black);
            cursor: pointer;
            transition: all 0.1s linear;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
    div {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }
    textarea {
      resize: none;
    }
  }
}
