@import url("./header/allpages.scss");
@media screen and (max-width: 935px) {
  .header-right {
    input {
      display: none;
    }
  }
}
@media screen and (max-width: 700px) {
  .allpages-elements {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    ul {
      display: none !important;
    }
    .header-ham {
      display: flex !important;
    }
  }
  .cart {
    display: none !important;
  }
}
